<div style="position: absolute; top: 0%; left: 0%; width: 100%">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <img src="../../images/ARi_logo.png" style="position: absolute; width: 3.75%; height: 44%; left: 2%">
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown clrMenuPosition="bottom-right" style="position: absolute; right: 2%">
                <button type="button" class="close" aria-label="Close" style="position: absolute; right: 2%" clrDropdownToggle>
                    <span>
                    <clr-icon shape="user" style="position: absolute; right:100%">  </clr-icon>
                        {{ firstName }} {{ lastName }}  (arc13)
                    </span>
                    <clr-icon shape="caret down">  </clr-icon>
                  </button>
                <clr-dropdown-menu style="position: absolute; right: 4%" >
                    <a href="#" [routerLink]="['../account']" routerLinkActive="active" clrDropdownItem>My Account</a>
                    <a href="#" [routerLink]="['../settings']" routerLinkActive="active" clrDropdownItem>Settings</a>
                    <a href="#" (click)="logout()" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>

    <nav class="sub-nav" [clr-nav-level]="1">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../home']" routerLinkActive="active">Dashboard</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../cal']" routerLinkActive="active">Planner</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../askari']" routerLinkActive="active">Ask ARi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../courses']" routerLinkActive="active">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../assignments']" routerLinkActive="active">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../grades']" routerLinkActive="active" *ngIf="!isStaff">Grades</a>
            </li>
        </ul>
    </nav>
</div>

<h3 style="position: absolute; top: 10%; left: 2%; color: #6ECCCA; font-weight: bold">Ask ARi</h3>
<hr style="position: absolute; top: 15%; left: 2%; width: 5.9%; height: 0.28%; background-color: #4390BC; border: none">

<div class="select" style="position: absolute; top: 18%; left: 2%; width: 96%; height: 2%">
    <select id="courses" [(ngModel)]="selectedCourse" (change)="onCourseChange()">
       <option [ngValue]="null" selected>All Courses</option>
       <option *ngFor="let course of courses" [ngValue]="course">{{course.name}}</option>
    </select>
</div>

<nav class="sidenav" style="position: absolute; top: 20.8%; left: 2%; height: 76.8%">
    <div class="select">
        <select id="lectures" [(ngModel)]="selectedLecture" (change)="onLectureChange()">
            <option [ngValue]="null" selected>All Lectures</option>
            <option *ngFor="let lecture of lectures" [ngValue]="lecture">{{lecture.name}}</option>
        </select>
    </div>
    <section class="sidenav-content">
        <button class="btn btn-primary btn-sm btn-block" (click)="showQuestionModal()">Ask A Question</button>
        <section style="position: absolute; top: 10%; left: 2%;">
            <a *ngFor="let question of questions" (click)="getQuestion(question.title)"> {{ question.title }} <br /></a>
        </section>
    </section>
</nav>

<div *ngIf="viewQuestionModal" class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Ask a question</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <div class="select">
                            <label for="questioncourse">Course</label>
                            <select id="questioncourse" [(ngModel)]="selectedCourse" name="course" (change)="onCourseChange()">
                                <option *ngFor="let course of courses" [ngValue]="course">{{course.name}}</option>
                            </select>
                            <br><br>
                            <label for="questionlecture">Lecture</label>
                            <div class="select">
                                <select id="questionlecture" [(ngModel)]="selectedLecture" name="lecture">
                                    <option [ngValue]="null">General</option>
                                    <option *ngFor="let lecture of lectures" [ngValue]="lecture">{{lecture.name}}</option>
                                </select>
                            </div>
                    </div>
                    <p></p>
                    <div>
                        <label>Question Title</label><span>
                            <input type="text" (keypress)="evaluateQuestionTitle()" [(ngModel)]="model.title" [ngModelOptions]="{standalone: true}" #title="ngModel" required />
                        </span>
                    </div>
                    <p></p>
                    <div class="alert" *ngIf="!validQuestionTitle">{{ titleAlert }}</div>
                    <div>
                        <label>Enter Question
                            <textarea (keypress)="evaluateQuestionBody()" [(ngModel)]="model.body" [ngModelOptions]="{standalone: true}" #body="ngModel" required></textarea>
                        </label>
                    </div>
                    <div class="alert" *ngIf="!validQuestionBody">You must specify a description that's between 10 and 500 characters.</div>
                    <input type="submit" (click)="(validQuestionTitle && validQuestionBody) && createQuestion()" class="btn btn-primary" value="Submit Form" [ngClass]="{disabled: !(validQuestionTitle && validQuestionBody)}">
                    <input type="cancel" class="btn btn-outline" (click)="hideQuestionModal()" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<clr-main-container *ngIf="questionRetrieved && !askingQuestion" style="position: absolute; top: 21%; left: 21%; width: 36%; height: 30%; background-color: transparent">
    <div  style="overflow-y: scroll">
        <h3 style="text-align: center; font-weight: bold">{{selectedQuestion.title}}</h3>

        <div>
            <p></p>
            <div style="text-align: justify"> {{selectedQuestion.body}}</div>
            <h5> Posted by: {{selectedQuestion.poster}}</h5>
            <a (click)="setParentComment(0, 'Question')" style="float: right"> Reply </a>
        </div>
    </div>
</clr-main-container>

<clr-main-container *ngIf="commentsRetrieved && !askingQuestion" style="position: absolute; top: 22%; left: 59%; height: 78%; width: 38%; background-color: transparent">
    <div style="overflow-y: scroll">
        <h3 style="text-align: center; font-weight: bold">Responses</h3>
        <div *ngFor="let comment of getComments()">
            <div>
                <h4 style="font-style: italic; background-color: #CDE3EE"> {{ comment.poster }} said:</h4>
                <div style="text-align: justify">{{ comment.content }}</div>
                <div>
                    <clr-icon shape="thumbs-up" size="13" (click)="upvoteComment(comment.commentId, true)" *ngIf="upvotedComments.indexOf(comment.commentId) < 0"></clr-icon>
                    <clr-icon shape="thumbs-up" size="13" (click)="upvoteComment(comment.commentId, false)" style="background-color: #92D050" *ngIf="upvotedComments.indexOf(comment.commentId) > -1"></clr-icon>
                    {{ comment.score }}
                    <a (click)="setParentComment(comment.commentId, comment.poster)"> Reply </a>
                </div>
            </div>
            <div style="padding-left: 10%" *ngFor="let reply of getCommentReplies(comment.commentId)">
                <h4 style="font-style: italic; background-color: #CDE3EE"> {{ reply.poster }} said:</h4>
                <div style="text-align: justify">{{ reply.content }}</div>
                <div>
                    <clr-icon shape="thumbs-up" size="13" (click)="upvoteComment(reply.commentId)"></clr-icon>
                    {{ reply.score }}
                </div>
            </div>
        </div>
    </div>
</clr-main-container>

<clr-main-container *ngIf="questionRetrieved && !askingQuestion" style="position: absolute; top: 75%; width: 36%; left: 21%; height: 16%; background-color: transparent">
    <form>
        <h3>Add a reply</h3><div style="float: right">Replying to {{ replyingTo }}</div>

        <textarea span [(ngModel)]="model.commentBody" [ngModelOptions]="{standalone: true}" #commentBody="ngModel" required></textarea>

        <input type="submit" class="btn btn-primary" style="float: right" value="Submit" (click)="addComment()">
    </form>
</clr-main-container>
